/* ////////////////////////////////// */
/* //////////// 메인 메뉴 /////////// */
/* ////////////////////////////////// */
.m_nav{text-align: center;}
.m_nav_title{
    font-weight: bold;
    font-size: 24px;
}
.m_nav_item{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.m_nav_item li{
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #dfdfdf;
    background: #f8f8f8;
    color: #777;
    font-size: 14px;
    cursor: pointer;
}
.m_nav_item li:first-child{
    background: #000;
    color: #fff;
    border: 1px solid #000;
}


/* ////////////////////////////////// */
/* /////// 메인 아이템 리스트 //////// */
/* ////////////////////////////////// */
.m_i_header{
    font-size: 13px;
    color: #6d6f6d;

    position: relative;
}
.m_i_cnt{
    color: #111;
    font-weight: bold;
}
.sort{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.sort::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #6d6f6d;
    border-right: 2px solid #6d6f6d;
    transform: rotate(45deg) translateY(-4px);
}
.sort_list{
    width: 66px;
    padding: 10px;
    line-height: 2;
    background-color: #fff;
    border: 1px solid #111;

    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.sort_list_none{display: none;}

.m_i_area{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
.m_i_area > a{
    width: calc((100% - 40px) / 5);
}